<script setup lang="ts">
import { useUserStore } from '@/stores/user';
import type User from '@/types/User';
const userStore = useUserStore();


const deleteUser = ((index: number): void => userStore.deleteUser(index));
const addUser = (() => userStore.dialog = true)
const editUser = (user: User) => {

  userStore.editUser(user);
}

</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card> 
          <v-btn height="100px" width="100%" class="text-h2" @click="addUser">
            +
          </v-btn>
        </v-card>
      </v-col>
      <v-col cols="2" md="4" v-for="item of userStore.users" :key="item.id">
        <v-card>
          <v-card-title>
            {{ item.login }} {{ item.id }}
          </v-card-title>
          <v-card-text>
            {{ item.name }} {{ item.password }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn color="error" @click="deleteUser">
              Delate
            </v-btn>

            <v-btn color="secondary" @click="editUser">
              Edit
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row>

    </v-row>
  </v-container>

</template>