<script setup lang="ts">
import { useUserStore } from '@/stores/user';
import type User from '@/types/User';
import { mdiPencil, mdiDelete, mdiPlus } from '@mdi/js';
const userStore = useUserStore();


const deleteUser = ((index:number):void => userStore.deleteUser(index));
const addUser = (() => userStore.dialog = true)
const editUser = (user:User) => {

  userStore.editUser(user);
}

</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="3" offset="8">
        <v-btn color="primary" :prepend-icon="mdiPlus" @click="addUser">Add</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Login</th>
              <th>Name</th>
              <th>Password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of userStore.users" :key="item.id">
              <th>{{ item.id }}</th>
              <th>{{ item.login }}</th>
              <th>{{ item.name }}</th>
              <th>{{ item.password }}</th>
              <td>
                <v-btn :icon="mdiPencil" color="secondary" class="ma-1" @click="editUser(item)"></v-btn>
                <v-btn :icon="mdiDelete" color="error" class="ma-1" @click="deleteUser(item.id)"></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>

</template>